/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

// 変数定義
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
